#barra-fixa {
    position: relative;
    top: 0;
    width: 100%;
    height: 70px;
    background: white;
    z-index: 10;
  }
  
  #container {
    width: 1140px;
    height: 70px;
    margin: 0 auto;
    display: flex;
  }
  
  #logo {
    position: relative;
    float: left;
    height: 65px;
    margin: 3px 5px 0px 5px;
  }
  
  #busca {
    display: inline-flex;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
  }
  
  #tamanho {
    height: 35px;
    margin-top: 14px;
    margin-left: 5px;
    margin-bottom: 20px;
    background: #ff5757;
  }
  
  #menu-hamb {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 100px;
  }
  
  .linha {
    height: 400px;
    display: flex;
  }

  .linha img{
    border: 5px solid #cb6ce6;
    margin-bottom: 20px;
    width: 320px;
    height: 200px;
  }
  
  .column{
    width: 300px;
    margin-left: 50px;
    margin-top: 30px;
  }

  .coluna:hover{
    opacity: 0.4;
  }
  
  h1 {
    font-size: 30px;
    font-family: "Comfortaa", cursive;
    color: #3b3b3b;
    margin-right: 100px;
    font-weight: lighter;
    margin-top: 20px;
  
  }
  
  #backtitle {
    text-decoration: none;
    color: #3b3b3b;
  }
  
  .btn {
    border: none;
  }
  
  #busca,
  option {
    font-family: 'Comfortaa', sans-serif;
  }
  
  .custom-select {
    border-radius:5px;
    height: 40px;
  }
  
  h3 {
    margin-top: 50px;
  }
  
  .inputBusca{
    border-radius: 5px;
    border: 1px solid rgba(201, 201, 201, 0.685);
    height: 40px;
  }
   
  #tamanho {
    margin-top: 20px;
  }

  .footer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .aga3{
    margin-top: 70px;
    font-size: 35px;
  }

  .linha p{
    text-align: center;
    color: black;
  }