.btn1 {
    background-color: #cb6ce6;
    border: none;
}

.btn1:hover {
    background-color: #ff5757;
}

#cadastrar{
    margin-top: 50px;
}

h4{
    text-align: center;
    margin-bottom: 30px;
}

.custom-file {
    margin-bottom: 20px;
}