#como{
	background: url(../img/amigos1.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 3rem;
	padding-bottom: 7rem;
	background-position-y: 50%;
}

#container-como{
	font-size: 20px;
	background-image: linear-gradient(white, rgb(245,225,250,0.6));
	border-radius: 15px;
	margin-left:400px;
	margin-right: 400px;
	color: #4a4e69;
	padding: 30px 40px 20px 40px;
	border: 7px solid #4a4e69;
}

#como h4{
	font-size: 25px;
	font-weight: bold;
}

#como p{
	font-weight: bold;
}

#titulo-como h3{
	position: relative;
	text-align: center;
	margin: 0 auto;
	color: rgb(58,65, 91);
	font-weight: bold;
	font-size: 30px;
	width: 700px;
	margin-bottom: 56px;
}

#titulo-div{
	text-align: center;
	margin-bottom: 20px;
}
