@import url('https://fonts.googleapis.com/css?family=Karma&display=swap"');

#como{
	display: flex;
	flex-direction: column;
	background-size: 100%;
	background-repeat: no-repeat;
	padding-top: 3rem;
	padding-bottom: 7rem;
	background-position-y: 50%;
	background-image: url(../img/beach.jpg);
}

#container-como{
	font-size: 20px;
	border-radius: 15px;
	margin-left:400px;
	margin-right: 400px;
	color: #3b3b3b;
	padding: 30px 40px 20px 40px;
	background-color: #ffffffaf;
}

#como h4{
	font-size: 25px;
	font-weight: bold;
}

#como p{
	font-weight: bold;
	color: #ff5757;
}

#titulo-como h3{
	position: relative;
	text-align: center;
	margin: 0 auto;
	color: white;
	font-weight: bold;
	font-size: 26px;
	width: 700px;
	margin-bottom: 56px;
	font-family: 'Comfortaa', sans-serif;

}

#titulo-div{
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Karma', sans-serif;
}

ul{
	font-family: "Comfortaa", sans-serif;
}



