@import url('https://fonts.googleapis.com/css?family=Karma&display=swap"');

#home{
	padding-top: 180px;
 	padding-bottom: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 70px;
	background: white;
	background-size: 100% ;
	margin: 0;	
	background-image: url(../img/airplane3.jpg);
	background-repeat: no-repeat;
	
}

#texto-home{
	text-align: center;
	font-size: 20px;
	border-radius: 15px;	
	color: white;
	padding: 20px;
}
#home h4{
	font-size: 25px;
	padding-bottom: 20px;
	font-family: "Comfortaa",sans-serif;
}
#home p{
	font-size: 20px;
	padding-bottom: 20px;
	margin-left: 300px;
	margin-right: 300px;
	font-family: sans-serif;
}


