#barra-fixa {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: #3b3b3b;
  z-index: 10;
}

#container {
  width: 1140px;
  height: 70px;
  margin: 0 auto;
  display: flex;
}

#logo {
  position: relative;
  float: left;
  height: 65px;
  margin: 3px 5px 0px 5px;
}

#busca {
  display: inline-flex;
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
}

#tamanho {
  height: 35px;
  margin-top: 14px;
  margin-left: 5px;
  margin-bottom: 20px;
  background: #ff5757;
}

#menu-hamb{
	float: right;
  margin-top:10px;
  margin-right: 10px;
  margin-left: 100px;
}

#novidades{
	height: 300px;
  border: 2px solid red;
  margin-top: 90px;
  margin-bottom: 20px;
  display:flex;
}

#historico-futuras{
	height: 300px;
	border: 2px solid red;
  margin-bottom: 20px;
  display:flex;
}

#viajantes-procurando{
	height: 300px;
	border: 2px solid red;
  margin-bottom: 20px;
  display:flex;
}

.divs{
  width: 350px;
  height: 250px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
  border: 2px solid red;
}


h1{
  font-size: 40px;
  font-family: "Baloo", cursive;
  color: white;
  margin-right: 100px;
  font-weight: lighter;
  margin-top:15px;
  margin-bottom: 15px;
}

#backtitle{
  text-decoration:none;
  color:white; 
  
}




