@import url('https://fonts.googleapis.com/css?family=Karma&display=swap"');

#login{
  display: flex;
  flex-direction: column;
  align-items: center;
	justify-content: center;
	width: 100%;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 30px;
}

.fundo{
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.row{
  background: white;
  border-radius: 15px;
}

#ou{
  display: flex;
  align-items: center;
}

.btn {
  background-color: #cb6ce6;
  border: none;
}

.btn:hover{
  background-color: #ff5757;
}

#titleLogin{
  font-family: 'Comfortaa', sans-serif;
  font-weight: bolder;
  color: #3b3b3b;
  padding-bottom: 40px;
}

.container {
  padding-bottom: 100px;
}